*, html{
	padding:0;
	margin:0;
}
body{
 	background-color:#4682B4 ;

}
#netradio{
 	border: 3px solid #D2B48C;
	width: 700px;
	length:300px;
	//background: linear-gradient(180deg, #DAA520, #FF00FF 50%, #008000);
	background-image: url("../kuvat/woodtexture.jpg");
	background-size: 100% 40%;
	padding: 20px;
	position: relative;
}
#netradio #playerOverlay{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	pointer-events: none;
	
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 400px 250px;
	mix-blend-mode: multiply;
	//display: none;
	//transform: scaleX(-1);
}
#playlist{
	border: 3px solid #FFF8DC;
	width: 390px;
	height: 130px;
	margin: 2px;
	position: relative;

}
#playlist #overlay{
	position: absolute;
	width: 400px;
	height: 130px;	
	top: 0;
	left: 0;
	pointer-events: none;
	background: linear-gradient(0deg, rgba(0,0,0,0.1) 10%, transparent 20%, rgba(0,0,0,0.1) 50%    );
	background-size: 100% 2.5%;
}
#streams{
	overflow:hidden;
	width:390px;
	height:130px;
	box-shadow: 0px 0px 10px #000 inset;
	background: linear-gradient(0deg, #dece99, #fff, #dece99);
	text-align: center;
	font-size: 1.3em;

}
#controls{
	//border: 3px solid #000;
	width: 390px;
	height: 40px;
	margin: 2px;
}

#btn_pause, #btn_play, #btn_random {
	width: 49.4%;
	height: 40px;
	border: 1px solid #000;
	box-shadow: 0px 0px 10px 7FFF00 inset;
	background: linear-gradient(180deg, #555, #fff, #555);
}	

#btn_pause:active, #btn_play:active, #btn_random:active {
	width: 45.4%;
	height: 40px;
	border: 1px solid #000;
	box-shadow: 0px 0px 20px #D2691E inset;
	background: linear-gradient(180deg, #7FFFD4, #0000FF, #5F9EA0);
}	

#volume{
	//border: 3px solid #000;
	width: 390px;
	height: 100px;
	margin: 2px;
}

#volAdjust{
	width: 100%;
	height: 100px;
	position: relative;
}

#volAdjust::before{
	position: absolute;
	content: "VOLUME";
	font-size: 8px;
}


#visualizer{
	display: none;
	border: 3px solid red;
	width: 390px;
	height: 60px;
	margin: 2px;
	background-color: #FF7F50;
}