#visitcard{
width: 600px;
height: 350px;
border: 2px solid #000;
position: relative;
background-color: cyan;
background-image: url(../kuvat/Taustakuva3.jpg);
background-size: 100% 100%;
background-repeat: no repeat;
font-size:2em;
overflow: hidden;
border-radius:12px;
box-shadow: 15px 15px 20px #000;

}
#nimet{
 position: absolute;
top: 120px;
left: 320px;
}
#titteli{
position: absolute;
top: 150px;
left: 320px;
}
#puhnro{
position: absolute;
top: 180px;
left: 320px;
}
#sähköposti{
position: absolute;
top: 210px;
left:180px;
}
#emoji{
position: absolute;
top: -160px;
left: -10px;
font-size: 150px;
transform: rotate(-20deg);
transform-origin: 54% 54%;
animation name: rotator;
animation-duration:1s;
animation-iteration-count: infite;
animation-timing-function: linear;
}
@keyframes rotator{
 0%{
 transform:rotate(0deg);
}
50%{
transform: rotate(180deg) scale(1.5);
}
100%{
transform:rotate(360deg);
 }

}


