html{
	padding:0;
	margin:0;
}
body{
	background-color:#fff;
	height: 100%;
	overflow :hidden;
	
	
}

#joulukalenteri{
	position relative;
	width:80%;
	height:auto;
	border: 2px solid #000;
	display: table;
	margin 0 auto 0 auto;
	background-image: url:(harjoitteet/joulukalenteri/kuvat/joulutausta.jpg);
	background-size: 100% 100%;
	
	
}
.luukku{

	position:relative;
	float: left;
	width: 100px;
	height:100px;
	margin: 2.48%;
	z-index: 1;
	transform-style: preserve-3d;
	perspective:600px;
	box-shadow: 0px 0px 20px 4px #000 inset;
	background-size: 100% 100%;
	background-color: red;
	
}

.spacer{
	position:relative;
	float:left;
	width:100px;
	height:100ox;
	margin:2%;
}

.kansi{
	background-color: #eee;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	background-color: #fff;
	outline: 1px solid #000;
	position: absolute;
	transform-origin: left top;
	transition: all 0.5s ease-in-out;	
}
.kansi:hover{
	transform: rotateY(-120deg);
	box-shadow: 0px 0px 10px #000;


}
.kansi: hover>.pvm{
	color: #fff;
}

.pvm{
	text-align: center;
	line-height: 10px;
	font-size: 50px;
	color:#000;
}

#luukku_1{
background-image:url(joulukalenteri/kuvat/elf.jpg);
}
#luukku_2{
background-image: url(joulukalenteri/kuvat/cola.jpg) ;
}
#luukku_3{
background-image: url(joulukalenteri/kuvat/jouludoge.jpg);
}
#luukku_4{
background-image: url(joulukalenteri/kuvat/kaakao.jpg);
}
#luukku_5{
background-image: url(joulukalenteri/kuvat/koristeet.jpg);
}
#luukku_6{
background-image:url(joulukalenteri/kuvat/kalenteri.jpg);
}
#luukku_7{
background-image:url(joulukalenteri/kuvat/joulutoivotus.jpg);
}
#luukku_8{
background-image:url(joulukalenteri/kuvat/lahja.jpg);
}
#luukku_9{
background-image:url(joulukalenteri/kuvat/joulu.jpg);
}
#luukku_10{
background-image:url(joulukalenteri/kuvat/candy.jpg);
}
#luukku_11{
background-image:url(joulukalenteri/kuvat/25paiva.jpg);
}
#luukku_12{
background-image:url(joulukalenteri/kuvat/candycone.jpg);
}
#luukku_13{
background-image:(joulukalenteri/kuvat/joulukissa.jpg);
}
#luukku_14{
background-image:(joulukalenteri/kuvat/joulupukki.jpg);
}
#luukku_15{
background-image:(joulukalenteri/kuvat/lumi.jpg);
}
#luukku_16{
background-image:(joulukalenteri/kuvat/nicetree.jpg);
}
#luukku_17{
background-image:(joulukalenteri/kuvat/poro.jpg);
}
#luukku_18{
background-image:(joulukalenteri/kuvat/lumiukko.jpg);
}
#luukku_19{
background-image:(joulukalenteri/kuvat/movie.jpg);
}
#luukku_20{
background-image:url(joulukalenteri/kuvat/piparkakut.jpg);
}
#luukku_21{
background-image:url(joulukalenteri/kuvat/puu.jpg);
}
#luukku_22{
background-image:url(joulukalenteri/kuvat/sukat.jpg);
}
#luukku_23{
background-image:url(joulukalenteri/kuvat/talo.jpg);
}
#luukku_24{
background-image:url(joulukalenteri/kuvat/valot.jpg);
}