*, html{
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
}

#header{
	width: 100%;
	height: 42px;
	line-height: 42px;
	position: fixed;
	z-index: 10;
	top: 0px;
	background-color: #555;
	border-bottom: 2px solid #333;
}

h1{
	font-family: arial;
	color: white;
	margin-left: 12px;
	font-size: 1.5em;
}

a{
	text-decoration: none;
}

.navigation{
	position: absolute;
	top: 2px;
	right: 12px;
	color: #ccc;
	font-weight: bold;
}

#content{
	position: relative;
	//background: linear-gradient(0deg, #000, #fff);
	background-color: #555;
	width: 100%;
	height: auto;
	display: inline-block;
	padding-top: 20px;
}

#footer{
	width: 100%;
	height: 42px;
	line-height: 42px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #555;
	border-top: 1px solid #333;
}

.button{
	float: left;
	width: 33%;
	height: 42px;
	line-height: 42px;
	border-top: 2px solid #555;
	transition: all 0.25s ease-in-out;
}

.middle{
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

.button .icon{
	color: #ccc;
	margin-left: 12px;
}

.button a{
	color: white;
	font-family: arial;
	margin-left: 20px;
}

.button a:active, .button a:visited{
	color: white;
}

.button:hover, .button:active{
	border-top: 2px solid cyan;
	//margin-top: -2px;
}

.widget{
	float: left;
	position: relative;
	width: 20%;
	height: 200px;
	border: 4px solid #333;
	background-color: #555;
	margin: 4% 2%;
	text-align: center;
	box-shadow: 0px 4px 4px #333;
	transition: all 0.25s ease-in-out;
}

.widget:hover{
	transform: scale(0.75);
}

.widget:nth(-1)-of-type{
	transform: rotate(180deg);
}

.widget:nth(+1)-of-type{
	transform: rotate(180deg);
}

.widget .error{
	position: absolute;
	right: 10px;
	top: 10px;
	color: red;
	font-weight: bold;
}

.widget .icon{
	font-family: webdings;
	font-size: 68px;
	color: cyan;
}

.widget h2{
	color: #fff;
	font-family: arial;
	margin-top: 10px;
	letter-spacing: 2px;
}

.widget .info{
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	background-color: #777;
}

.widget h3{
	float: left;
	font-family: arial;
	color: white;
	margin: 2px 4px;
}

.widget .toggle{
	float: right;
	margin-top: 10px;
	margin-right: 6px;
	color: cyan;
	font-size: 32px;
}

